.conteiner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* section */

.section1{
    width: 100%;
    /* height: 2414px; */
    padding: 0px 34px 304px 147px;

    background-image: url("../images/Rectangle\ 1.png");
}

header{
    width: 100%;
    margin-bottom: 1716px;
    display: flex;
    /* border: 3px solid red; */
    justify-content: space-between;
       
}

ul{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 34px;     
    
}

li{
    font-size: 36px;
    font-weight: 700px;
    color: #FFFFFF;   
    transition-delay: .2s;
    transition-duration: 2s;
    
}

li:hover{
    border: 3px solid white;
    cursor: pointer;

}


.text1{
    width: 80%;
    font-size: 64px;
    font-weight: 700px;
    color: #C0B4B4;
    text-align: center;
}

/* section2 */

.section2{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 90px 145px 140px 145px;
    background-color: #393838;
}
   

h1{
    
    font-size: 64px;
    font-weight: 400px;
    color:#FFFFFF;
    display: flex;
    justify-content: center;  
    margin-bottom: 239px;
}


.cards{
    max-width: 90%;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-between;
    /* gap: 67px; */
  
}
.card{
    width:30%;
    height: 522px;
}

.card:hover{
    cursor: pointer;
    box-shadow: 40px 40px 20px black;

}




